.announcement {
  strong {
    color: $gray-700;
    font-weight: 900;
  }
}

.unread-announcements:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: $red;
  content: '';
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-right: 6px;
}

.mom {
  width: 100%; /* Try setting this to 400px or something */
  display: table;
  border: 1px solid #444444;
}
.child {
  display: table-cell;
}
.childinner {
  margin-left: 25px;
  /* Decorative .. */
  background-color: #cccccc;
  min-height: 40px;
}
.child:first-child .childinner {
  margin-left: 0;
}