


<div class="row">
  <div class="col-sm-6">
    <h1>Orders</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_order_path, class: 'btn btn-primary' do %>
    Add New Order
  <% end %>
  </div>
</div>

<%= form_with(url: orders_path, method: "GET", data: { turbo_frame: "orders" }) do |form| %>
  <div class="input-group mb-3">
    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search by customer phone/name or Order ID' %>
    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </div>
<% end %>

<%= render "orders", orders: @orders %>